/* Fonts */

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-yellow-dark: #f0c52e;
  --special-yellow-light: #f7e296;
  --special-green: #91c92f;
}

/* Global */

body {
  min-width: 1160px;
  margin: 40px 140px;
  padding: 0;
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  color: var(--basic-black);
  background-color: var(--basic-white)
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.page-title {
  font-size: 47px;
  line-height: 58px;
}

.visually-hidden {
  display: none;
}

/* Header */

.main-header {
  background-color: var(--special-yellow-light);
}

.main-header ul {
  list-style: none;
}

.header-logo {
  position: absolute;
  margin-top: -20px;
}

.search {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  border: none;
  background-color: inherit;
}

.main-header input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-header input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.header-menu,
.catalog-menu {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.main-navigation {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header-menu a:hover,
.main-navigation a:hover,
.catalog-menu a:hover {
  color: var(--basic-grey);
}

.header-menu a:active,
.main-navigation a:active,
.catalog-menu a:active {
  color: var(--basic-half-grey);
}

/* Promo Slider */

.promo-slide a:hover {
  color: var(--basic-black);
}

.promo-slide a:active {
  color: var(--basic-half-grey);
}

.slide-number {
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.promo-slider h3 {
  font-size: 47px;
}

.promo-text {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20.43px;
}

.promo-slider dt {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 36px;
  line-height: 42x;
  font-weight: 300;
}

.promo-slider dd {
  font-family: "Gilroy", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
}

.promo-slider ul {
  list-style: none;
}

/* Popular */

.popular a:hover {
  color: var(--basic-grey);
}

.popular a:active {
  color: var(--basic-half-grey);
}

.popular img {
  background-color: var(--special-yellow-light);
}

.popular ul {
  list-style: none;
}

/* Services */

.services a:hover {
  color: var(--basic-black);
}

.services a:active {
  color: var(--special-yellow-light);
}

.services ul {
  list-style: none;
}

.services h3 {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services p {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.1em;
}

/* Partners */

.partners ul {
  list-style: none;
}

/* Info */

.info a:hover {
  color: var(--basic-black);
}

.info a:active {
  color: var(--basic-half-grey);
}

.info h2 {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.info p {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
}

.info .delivery-list {
  font-size: 16px;
  line-height: 28px;
}

/* Contacts */

.contacts a:hover {
  color: var(--basic-black);
}

.contacts a:active {
  color: var(--basic-half-grey);
}

.contacts h2 {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts p {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

/* Filters */

.filters {
  background-color: var(--basic-grey-light);
}

.filters h2 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #DCDCDC;
}

.filter legend {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter ul {
  list-style: none;
}

.filter-checkbox,
.filter-radio {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

.filter .button {
  font: inherit;
  border: none;
}

.filter .button:active {
  opacity: 0.3;
}

/* Sort */

.sort {
  background-color: var(--basic-grey-light);
}

.sort h2 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sort-method,
.sort-order {
  list-style: none;
}

.sort-item a {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  opacity: 0.3;
}

.sort-item a:hover {
  opacity: 0.6;
}

.sort-item a:active,
.sort-item-current a {
  opacity: 1;
}

/* Catalog */

.catalog-list {
  list-style: none;
}

.catalog-item h3 {
  font-size: 18px;
  letter-spacing: 0.05em;
}

.catalog-item p {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog-item .button {
  font: inherit;
  border: none;
}

.catalog-item .button:active {
  opacity: 0.3;
}

.button-compare {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.1em;
  border: none;
  background: none;
  opacity: 0.5;
}

.button-compare:hover {
  opacity: 1;
}

.button-compare:active {
  opacity: 0.2;
}

.pagination-list {
  list-style: none;
  background-color: #EBEBEB;
}

.pagination-item a {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pagination-page a {
  opacity: 0.3;
}

.pagination-page a:hover {
  opacity: 0.6;
}

.pagination-page a:active,
.pagination-item-current a {
  opacity: 1;
}

.pagination-button a:hover {
  background-color: #D9D9D9;
}

.pagination-button a:active {
  background-color: #D9D9D9;
  opacity: 0.6;
}

/* Footer */

.main-footer {
  background-color: var(--basic-dark);
}

.footer-menu-top a:hover {
  color: var(--basic-white);
}

.footer-menu-top a:active {
  color: var(--basic-half-grey);
}

.footer-menu-bottom a:hover {
  color: var(--basic-grey-light);
}

.footer-menu-bottom a:active {
  color: var(--basic-half-grey);
}

.footer-phone a:hover,
.footer-phone a:active {
  color: var(--basic-white);
}

.footer-menu-top {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.main-footer ul {
  list-style: none;
}

.footer-menu-top,
.footer-address,
.footer-phone,
.footer-phone-number {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

.footer-address,
.footer-phone,
.footer-phone-number {
  color: var(--basic-white)
}

.footer-menu-bottom {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
